*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

body,ul,li,ol,dl,dd,dt,p{
	padding: 0;
	margin: 0;
	
}
ul,ol{
	list-style: none;
}
p,a{
	color: #000;
}
input,button{
	outline: none;
	border: none;
}
a{
	
	text-decoration: none;
}
.clear::after{
	height: 0;
	clear: both;
	content: "";
	display: block;
}
.mui-table-view-cell.mui-active{
	background-color: inherit;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background-color: inherit;
}