*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

body,ul,ol,dl{
	padding: 0;
	margin: 0;
	
}
ul,ol{
	list-style: none;
}
p{
	color: #000;
}
input{
	outline: none;
}
a{
	color: #000;
	text-decoration: none;
}


.mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background-color: inherit;
}