/* 顶部地址 */
.my_navigate_right{
	display: flex !important;
	justify-content:flex-start;
	align-items: center;
}
.my_navigate_right>span.iconfont{
	font-size: 20px;
}
.my_navigate_right .address{
	margin-left: 10px;
	width: 80%;
	
}
.my_navigate_right .address p{
	white-space: initial;
	font-size: 12px;
}


/* 商品展示区域 */

.collect_body {
	width: 100%;
	display: flex;
	max-height: 140px;
}

.collect_body .collect_body_img {
	font-size: 0;
	flex: 1;
	margin-right: 10px;
}
.mui-table-view .mui-media-object{
	max-width: none;
}
.collect_body .collect_body_img img {
	width:100%;
	
	min-height: 95px;
	max-height: 105px;
}

.collect_body_infor {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	flex: 2;
	
}

.collect_body_infor_title {
	line-height: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 12px;
}
.collect_body_infor_type{
	color: #aaa;
	font-size: 12px;
}
.collect_body_infor_price {
	display: flex;
	font-size: 12px;
	align-items: center;
	justify-content: space-between;
}

/* 购买数量 */
.buy_number{
	justify-content: space-between;
	font-size: 14px;
	align-items: center;
}
.my_numbox{
	display: flex;
	border: 1px solid rgba(0,0,0,.2);
}
.my_numbox button{
	border: none;
	border-radius: 0;
	padding: 3px 12px;
}
.my_numbox button[disabled=disabled]{
	background-color:#ccc;
}
.my_numbox input{
	width: 50px;
	text-align: center;
	margin-bottom: 0;
	border: none;
	border-left: 1px solid rgba(0,0,0,.2);
	border-right: 1px solid rgba(0,0,0,.2);
	border-radius: 0;
	height: 25px;
	padding: 0px 5px;
}

.my_numbox-input{
	font-size: 14px;
}






/* 底部tab */
footer.mui-bar {
	background-color: #fff;
}

footer.mui-bar-tab {
	height: 45px;
}
.tab {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tab .mui-btn {
	top: 0;
	margin-left: 15px;
	color: #fff;
	border: 1px solid #d01c27;
	border-radius: 5px;
	padding: 13px 25px 11px;
}