<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>顶部选项卡--第一个页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>

	<link href="../../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/index/index.css" />
	<link rel="stylesheet" type="text/css" href="../../../fonts/font.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/public.css" />
	<style type="text/css">
		
	</style>
<body style="line-height: none;">
<div class="box">
	<div id="upLoad" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<!-- 轮播图 -->
			<div id="slider" class="mui-slider">

				<div class="mui-slider-group mui-slider-loop my-slider-group">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item my-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../../img/top02.jpg">
						</a>
					</div>
					<!-- 第一张图片 -->
					<div class="mui-slider-item my-slider-item">
						<a href="#"><img src="../../../img/top01.jpg"></a>
					</div>

					<div class="mui-slider-item  my-slider-item">
						<a href="#"><img src="../../../img/top02.jpg"></a>
					</div>

					<div class="mui-slider-item  my-slider-item">
						<a href="#"><img src="../../../img/top03.jpg"></a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item my-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../../img/top01.jpg">
						</a>
					</div>
				</div>
				<!-- 轮播图原点 -->
				<div class="mui-slider-indicator my-slider-indicator">
					<div class="mui-indicator my-indicator mui-active"></div>
					<div class="mui-indicator my-indicator"></div>
					<div class="mui-indicator my-indicator"></div>
				</div>
			</div><!-- .mui-slider轮播图 -->


			<!-- 导航列表 -->
			<nav class="list">
				<ul>
				</ul>
			</nav>


			<!-- 主要内容 -->
			<div class="main">
				<!-- <p v-if="prdList.length==0" style="text-align: center;color: #C8C7CC;">
					暂无更多数据....
				</p> -->
				<ul class="mui-table-view my-table-view" ref="imgLoad" id="imgLoad">
					<li class="mui-table-view-cell" v-for="(item,index) in prdList" @click="toDeatail(item._id)">
						<a>
							<img v-lazy="item.img" />
							<div class="mui-media-body">
								<p>{{item.title}}</p>
								<ul class="price">
									<li>
										<span>￥</span><span>{{item.price}}</span>
									</li>
									<li><span>{{item.buy}}人付款</span></li>
								</ul>
							</div>
						</a>
					</li>
				</ul>
			</div>		
				
		</div><!-- .mui-scroll -->
	</div><!-- #upLoad -->

</div><!-- .box -->
</body>

<script src="../../../js/mui.min.js"></script>
<script src="../../../js/webviewGroup.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/vue.js"></script>
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	// 循环添加导航列表内容
	function nav() {
		var navList = [{
			title: "厨房",
			bgcolr: "yellow",
			icon: "icon-chufang"
		}, {
			title: "3C电子",
			bgcolr: "pink",
			icon: "icon-dianzi"
		}, {
			title: "汽车周边",
			bgcolr: "blue",
			icon: "icon-Car"
		}, {
			title: "珠宝配饰",
			bgcolr: "red",
			icon: "icon-zhubao"
		}, {
			title: "美容护肤",
			bgcolr: "green",
			icon: "icon-hufupin"
		}, {
			title: "服饰鞋子",
			bgcolr: "grey",
			icon: "icon-fushi-nanzhuang-duosexianmian"
		}, {
			title: "手表眼镜",
			bgcolr: "#aaaa00",
			icon: "icon-yanjing"
		}, {
			title: "个护保健",
			bgcolr: "#457812",
			icon: "icon-baojianpin"
		}];
		let ul = mui(".list ul")[0];
		navList.forEach((val, index, arr) => {
			ul.innerHTML +=
				`<a>
					<li>
						
						<div style='background-color:${val.bgcolr}' class='iconfont ${val.icon}'></div>
						<div>${val.title}</div>
						
					</li>
				</a>`
		})
	}
	nav();
	// VueLazyload懒加载
	Vue.use(VueLazyload,{
		"loading":"../../../img/60x60.gif", //加载时的占位图片
		"attempt":3
	});
	
	const tabPage=new Vue({
		el:".box",
		data:{
			api:"http://192.168.88.69:3200",
			prdList:[],
			
		},
		
		created() {
			this.getPrdList();
		},
		mounted() {
			
			mui.init({
				keyEventBind: {
					backbutton: false,  //Boolean(默认true)关闭back按键监听  
					menubutton: false   //Boolean(默认true)关闭menu按键监听  
				},
			});
		},
		methods:{
			
			// 页面刚加载时请求数据
			getPrdList(){
				let that=this;
				mui.ajax(that.api+"/prdList",{
					data:{},
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						if(data.statu=="success"){
							that.prdList.push(...data.data);
							that.prdList.forEach(val=>{
								val.img+='?verson='+Math.random()*1000
							})
						}else{
							mui.toast("数据请求失败");
						}
						
					},
					error:function(xhr,type,errorThrown){
						that.prdList=that.prdList;
						mui.toast("连接失败，稍后再试");
					}
				})
			},
			// 点击产品时跳转至详情页面
			// @prams {Srting} prd_id: 点击的产品的id
			toDeatail(prd_id){
			
				mui.plusReady(function () {
				    let accountStorage=plus.storage.getItem("account");
					// 如果用户已经登录携带商品id跳转到详情页面
					if(accountStorage){
						mui.openWindow({
							url:"../../detail/detail.html",
							id:"detail",
							extras:{
								prd_id:prd_id,
								userId:accountStorage
							},
						})
					}else{
						// 用户没有登录跳转到登录页面
						mui.openWindow({
							url:"../../login/login.html",
							id:"login.html",
						})
					}
				})
			}
		},
	})
	
	
	var slider = mui("#slider");
	slider.slider({
		/*自动轮播图的间隔时间*/
		interval: 3000
	});
	
	
</script>
</html>
