<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的收藏</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta charset="GB2312"/>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../fonts/font.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/aboutMe/my_collect.css"/>
	</head>
	
	<body>
	<div class="body">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的收藏</h1>
			<a class="mui-btn-link mui-pull-right" @click="toggle">
				管理
			</a>
		</header>
		
		<div class="mui-content myContent" :class="{'toggle':toggleAllChecked}">
			<div style="text-align: center;" v-if="my_collect.length<=0">
				您还没有收藏；快去逛逛吧！
			</div>
				<!-- 收藏内容 -->
			<div v-else class="collect" v-for="(value,index) in dateArr">   <!-- 遍历收藏的日期 -->
				<p class="mui-content-padded">
					{{value}}
				</p>
				
			
										<!-- 判断商品收藏的日期-->
										
				<dl class="mui-table-view" v-for="(val,ind) in my_collect"  :key="ind" v-if="val.collect_date == value">
					
					<dt class="mui-table-view-cell clear collct_dt">
						<!-- 复选按钮 -->
						<div class="mui-input-row mui-checkbox mui-left my_checkbox" v-if="toggleAllChecked">
							<input name="checkbox" :value="ind" v-model="singleCheckArr" type="checkbox" class="checkbox" @change="singleCheckChange(ind)">
						</div>
					
						<!--商品展示区域-->
						<div class="mui-slider-handle collect_body">
							
							<!-- 商品图片 -->
							<div class="collect_body_img clear">
								<img class="mui-media-object mui-pull-left" :src="val.prd_img">
							</div>
							<!-- 商品描述 -->
							<div class="mui-media-body collect_body_infor">
								<p class="collect_body_infor_title">
									{{val.title}}
								</p>
								<p class="collect_body_infor_type">
									颜色
								</p>
								<div class="collect_body_infor_price">
									<div style="color: #d01c27;">
										<span style="font-size: 10px;">￥</span>
										
										<span>{{val.prd_price|price}}</span>
									</div>
									
									<div style="color: #bbb;">
										<span>{{val.buy}}人购买</span>  
									</div>
								</div>
							</div>
						</div><!--商品展示结束-->
						
					</dt>
				</dl>
			</div><!-- 收藏内容 -->

		</div><!-- .mui-content -->
		
		
		<footer class="mui-bar mui-bar-tab my-mui-bar" v-if="toggleAllChecked==true">
			<div class="tableft clear">
				<!-- 全选按钮 -->
				<div class="mui-input-row mui-checkbox mui-left my_checkbox" style="width: 35px;">
					
					<input name="checkbox" :disabled="allDisabled" :value="1" v-model="allChecked" type="checkbox" @change="allCheckedChange" class="checkbox">
				</div>
				<div>
					全选
				</div>
			</div>
			<div class="tabright">
				<div>
					您选中了<span style="color:#d01c27">{{singleCheckArr.length}}</span>条
				</div>
				<button type="button" class="mui-btn" :disabled="deleteDisabled" @click="deleteChecked">
					删除
				</button>
			</div>
		</footer>
	</div>
	</body>
	<script src="../../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	
		const vue=new Vue({
			el:".body",
			data:{
				api:"http://192.168.88.69:3200",
				my_collect:[],   //收藏的商品信息
				user_Id:"",   //用户id
				dateArr:[],  //去掉重复的收藏时间
				singleCheckArr:[],   //存放选中的单个商品的下标
				toggleAllChecked:false,   //点击导航 ‘管理’按钮,显示多选框和全选框
				allChecked:[],   //存放点击全选按钮时的下标
				allDisabled:false, //禁用全选按钮
				deleteDisabled:true,    //控制底部删除按钮是否可被点击.没有选择商品时不可以点击
				test:[]
			},
			filters:{
				// 过滤价格
				price(num){
					num=Number(num).toFixed(2);
					return num+"元"
				}
			},
			created() {
				this.getUserId();
			},
			mounted() {
				mui.init();
				this.fromDetail();
			},
			methods:{
				// 商品详情页面点击收藏时触发此事件,页面重新加载
				fromDetail(){
					window.addEventListener("pageReload",function(e){
						var statu = event.detail.statu;   //  true|false
						console.log("出发了我的收藏页面刷新"+statu);
						let current=plus.webview.currentWebview();
						current.reload();//页面刷新 
					})
				},
				
				
				// 页面刚加载时获取上一个页面传递的用户的id
				getUserId(){
					let that=this;
					mui.plusReady(function () {
					    let self=plus.webview.currentWebview();
						that.user_Id=self.userId;
						that.getCollectPrd(that.user_Id);
					})
					// that.getCollectPrd("5eb7b553ee1d1a3988b5309a");
				},
				 // 根据用户id请求后台获取用户收藏的商品
				getCollectPrd(user_Id){
					let that=this;
					mui.ajax(this.api+"/collect",{
						data:{
							user_Id
						},
						type:"post",
						timeout:10000,
						success:function(data){
							if(data.data){
								// 获取到所有收藏的商品信息
								that.my_collect.push(...data.data);
								if(that.my_collect.length<=0){
									 that.deleteDisabled=true;   //禁用底部删除按钮
									 that.allDisabled=true;  //禁用全选框
								}
								that.test=that.my_collect;
								that.my_collect.forEach(val=>{
									that.dateArr.push(val.collect_date);// 得到每个商品收藏的时间,放在数组里
								})
								//去掉重复的商品收藏时间,渲染时根据时间筛选对应的数据
								that.dateArr=that.dateArr.filter((val,index)=>{
									return that.dateArr.indexOf(val)==index; 
								});
							}
						}
					})
				},

				// 点击导航的管理显示底部全选按钮；
				// true显示每个商品的复选框；禁止左滑删除
				// 给.mui-content添加.toggle类名
				// false关闭时清空选中的商品和全选按钮,删除按钮禁用
				toggle(){
					this.toggleAllChecked=!this.toggleAllChecked;
					
					if(!this.toggleAllChecked){
						this.allChecked=[];
						this.singleCheckArr=[];
						this.deleteDisabled=true;
					}
				},
				
				// 点击单个复选框,将选中的的单个商品复选框的下标存入singleCheckArr数组中;
				// 存放后先数组去重，然后判断singleCheckArr数组与商品信息数组的长度是否相同，相同则代表全部勾选，改变全选按钮样式
				singleCheckChange(index){
					
					// 选中商品时删除按钮可用
					this.singleCheckArr.length>0?this.deleteDisabled=false:this.deleteDisabled=true;
					
					// 根据下标判断是否已经被选中, 
					// 如果下标!==-1,说明没有被选中,保存下标
					if(this.singleCheckArr.indexOf(index)!==-1){
						
						this.singleCheckArr.push(index);    //this.checkArr ：[0,0,1,1,2,2...]
						this.singleCheckArr=Array.from(new Set(this.singleCheckArr));   //es6数组去重
						// 如果选中的的单个商品的数量=所以商品数量。直接全选选中
						// console.log(this.singleCheckArr)
						if(this.singleCheckArr.length==this.my_collect.length){
							this.allChecked.push(1);
						}
					}else{
						// 取消全选
						this.allChecked=[];
					}
				},
				
				
				// 点击全选时所有单个商品全部被选中，再点击时取消
				// 先判断全选按钮是否是选择状态,
				allCheckedChange(){
					this.singleCheckArr=[];   //先清空选中的商品
					// 判断全选按钮是否被选中，选中时allChecked的长度大于0
					if(this.allChecked.length>0){
						this.deleteDisabled=false;  //删除按钮可用
						// 全选按钮选中时将所有商品的下标存入singleCheckArr,将所有商品选中
						this.my_collect.forEach((val,i)=>{
							this.singleCheckArr.push(i)
						})
					}else{
						this.singleCheckArr=[];// 全选按钮取消选中时清空选中的商品
						this.deleteDisabled=true;   //禁用删除按钮
					}
				},
				
				// 点击底部删除按钮,删除选中的商品
				// 出现一个提示按钮,选择是否删除
				// 将选中的商品根据下标在所有商品中删除
				deleteChecked(){
					let btn=["否","是"]
					let that=this;
					mui.confirm("确认删除?","",btn,function(e){
						
						// 如果选择了'是'
						if(e.index==1){
							 var del_arr = that.singleCheckArr.sort(s);  //将选中的商品下标倒序
							 function s(a,b){
								 return b-a
							 };
							 let prd_idArr=[];  //保存选中的商品的_id
							 del_arr.forEach((val,i)=>{
								 prd_idArr.push(that.my_collect[val]._id)
							 })
							// 请求数据，
							that.delAjax(prd_idArr)

						}
					})
				},
				
				
				
				// 删除收藏的商品;参数是个数组，里边放着选中的商品的id
				delAjax(prd_idArr){
					let that=this;
					mui.ajax(that.api+'/delCollect',{
						data:{
							userId:that.user_Id,
							// userId:"5eb7b553ee1d1a3988b5309a",
							prd_idArr:JSON.stringify(prd_idArr)
						},
						dataType:'json',//服务器返回json格式数据
						type:'post',//HTTP请求类型
						timeout:10000,//超时时间设置为10秒；
						success:function(data){
							if(data.code==1){
								mui.toast("删除商品成功");
								that.my_collect=[];
								
								that.getCollectPrd(that.user_Id)
								// that.getCollectPrd("5eb7b553ee1d1a3988b5309a");
								
								that.singleCheckArr = []; //     清空选中的商品
								that.allChecked=[];   //取消全选
								
								
							}else{
								mui.toast("删除商品失败")
							}
						},
						error:function(xhr,type,errorThrown){
						
							mui.toast("请求失败，原因"+type)
						}
					});
				}
			}
		})
	</script>
</html>
