<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>顶部选项卡--第一个页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>

	<link href="../../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../../../css/index/index.css" />
	<link rel="stylesheet" type="text/css" href="../../../fonts/font.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/public.css" />
	<style type="text/css">
		
	</style>
<body style="line-height: none;">
<div class="box">
	<div id="upLoad" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<!-- 轮播图 -->
			<div id="slider" class="mui-slider">

				<div class="mui-slider-group mui-slider-loop my-slider-group">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item my-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../../img/top02.jpg">
						</a>
					</div>
					<!-- 第一张图片 -->
					<div class="mui-slider-item my-slider-item">
						<a href="#"><img src="../../../img/top01.jpg"></a>
					</div>

					<div class="mui-slider-item  my-slider-item">
						<a href="#"><img src="../../../img/top02.jpg"></a>
					</div>

					<div class="mui-slider-item  my-slider-item">
						<a href="#"><img src="../../../img/top03.jpg"></a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item my-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../../img/top01.jpg">
						</a>
					</div>
				</div>
				<!-- 轮播图原点 -->
				<div class="mui-slider-indicator my-slider-indicator">
					<div class="mui-indicator my-indicator mui-active"></div>
					<div class="mui-indicator my-indicator"></div>
					<div class="mui-indicator my-indicator"></div>
				</div>
			</div><!-- .mui-slider轮播图 -->


			<!-- 导航列表 -->
			<nav class="list">
				<ul>
				</ul>
			</nav>


			<!-- 主要内容 -->
			<div class="main">
				<p v-if="prdList.length==0" style="text-align: center;color: #C8C7CC;">
					暂无更多数据....
				</p>
				<ul v-else class="mui-table-view my-table-view">
					<li class="mui-table-view-cell" v-for="(item,index) in prdList" :data-id="item._id" @click="toDeatail(item._id)">
						<a>
							<img class="" :src="item.img">
							<div class="mui-media-body">
								<p>{{item.title}}</p>
								<ul class="price">
									<li>
										<span>￥</span><span>{{item.price}}</span>
									</li>
									<li><span>{{item.buy}}人付款</span></li>
								</ul>
							</div>
						</a>
					</li>
				</ul>
			</div>		
				
		</div><!-- .mui-scroll -->
	</div><!-- #upLoad -->

</div><!-- .box -->
</body>
<script src="../../../js/mui.min.js"></script>
<script src="../../../js/webviewGroup.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/vue.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript">
	
	

	// 循环添加导航列表内容
	function nav() {
		var navList = [{
			title: "厨房",
			bgcolr: "yellow",
			icon: "icon-chufang"
		}, {
			title: "3C电子",
			bgcolr: "pink",
			icon: "icon-dianzi"
		}, {
			title: "汽车周边",
			bgcolr: "blue",
			icon: "icon-Car"
		}, {
			title: "珠宝配饰",
			bgcolr: "red",
			icon: "icon-zhubao"
		}, {
			title: "美容护肤",
			bgcolr: "green",
			icon: "icon-hufupin"
		}, {
			title: "服饰鞋子",
			bgcolr: "grey",
			icon: "icon-fushi-nanzhuang-duosexianmian"
		}, {
			title: "手表眼镜",
			bgcolr: "#aaaa00",
			icon: "icon-yanjing"
		}, {
			title: "个护保健",
			bgcolr: "#457812",
			icon: "icon-baojianpin"
		}];
		let ul = mui(".list ul")[0];
		navList.forEach((val, index, arr) => {
			ul.innerHTML +=
				`<a>
					<li>
						
						<div style='background-color:${val.bgcolr}' class='iconfont ${val.icon}'></div>
						<div>${val.title}</div>
						
					</li>
				</a>`
		})
	}
	nav();

	const tabPage=new Vue({
		el:".box",
		data:{
			prdList:[]
		},
		
		created() {
			this.getPrdList();
		},
		mounted() {
			this.muiInit()
			
		},
		methods:{
			// 下拉刷新以及上拉加载控件
			muiInit(){
				let that=this;
				let loadNum=0
				mui.init({
					pullRefresh:{
						container:".main",
						down :{
							style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
							  color:'#c8c7cc', //可选，默认“#2BD009” 下拉刷新控件颜色
							  height:'50px',//可选,默认50px.下拉刷新控件的高度,
							  range:'100px', //可选 默认100px,控件可下拉拖拽的范围
							  offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
							
							  callback :function(){  //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							  loadNum++;
								setTimeout(function(){
									that.getPrdList();
									mui('.main').pullRefresh().endPulldown();
								},2000)
							  } 
						},
						up:{
							style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
							 
							  height:'100px',//可选,默认50px.下拉刷新控件的高度,
							  contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
							  contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
							  auto: false,//可选,默认false.首次加载自动上拉刷新一次
							  callback :function(){  //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								loadNum++;
								setTimeout(function(){
									that.getPrdList();
									mui('.main').pullRefresh().endPullupToRefresh(false); //参数为true代表没有更多数据了。
									if(loadNum>3){
										mui('.main').pullRefresh().endPullupToRefresh(true); //参数为true代表没有更多数据了。
									}
								},2000)
							  } 
						}
					}
				});
			},
			
			// 页面刚加载时请求数据
			getPrdList(){
				let that=this;
				mui.ajax("http://192.168.88.69:3200/prdList",{
					data:{},
					type:'get',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						if(data.statu=="success"){
							that.prdList.push(...data.data);
						}else{
							mui.toast("数据请求失败",{ duration:'short', type:'div' });
						}
						
					},
					error:function(xhr,type,errorThrown){
						that.prdList=that.prdList;
						mui.toast("连接失败，稍后再试",{ duration:'short', type:'div' });
					}
				})
			},
			// 点击产品时跳转至详情页面
			// @prd_id : 点击的产品的id
			toDeatail(prd_id){
				mui.plusReady(function () {
				    let accountStorage=plus.storage.getItem("account");
					// 如果用户已经登录携带商品id跳转到详情页面
					if(accountStorage){
						mui.openWindow({
							url:"../../detail/detail.html",
							id:"detail",
							extras:{
								prd_id:prd_id
							},
						})
					}else{
						// 用户没有登录跳转到登录页面
						mui.openWindow({
							url:"../../login/login.html",
							id:"login.html",
						})
					}
				})
				
				
				
				
			}
		},
	})
	var slider = mui("#slider");
	slider.slider({
		/*自动轮播图的间隔时间*/
		interval: 3000
	});
</script>
</html>
