<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>注册页面</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/public.css"/>
	<link rel="stylesheet" type="text/css" href="../../fonts/font.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/login/login.css"/>
	<style type="text/css">
		
	</style>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">注册</h1>
	</header>
	<div class="mui-content">
		<div class="box mui-table-view">
			<div class="inp">
				<form class="mui-input-group">
					
					<div class="mui-input-row">
						<label>账号</label>
						<input id='account' required="required" type="text" class="mui-input-clear mui-input" v-model="account" placeholder="请输入账号">
					</div>
					<div class="mui-input-row">
						<label>密码</label>
						<input id='password' required="required" type="password" class="mui-input-password mui-input" v-model="passWorld" placeholder="请输入密码">
					</div>
					<div class="mui-input-row">
						<label>手机号</label>
						<input id='phone' required="required" type="number" class=" mui-input" v-model="phone" placeholder="请输入手机号码">
						
					</div>
					<div class="mui-input-row my_yzm">
						<label>验证码</label>
						<input id='yzm' type="text" class="mui-input" v-model="yzm" placeholder="请输入验证码">
						<button type="button" :disabled="yzmDisabled" class="mui-btn yzmBtn" :class="{'yzmAble':yzmDisabled,'yzmAbled':!yzmDisabled}" @click="sendyzm">发送验证码 <span v-if="timer==true">{{minute}}</span></button>
					</div>
					<div class="mui-content-padded loginBtn">
						<button type="button" 
						ref="regist"
						class="mui-btn myBtn" 
						:disabled="btnCol" 
						:class="{'myBtnNoOpcity':btnCol==false,'myBtnOpcity':btnCol==true}"
						@click="toRegist"
						>注册
						</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
	var login=new Vue({
		el:".box",
		data:{
			userName:"", //用户名
			account:"",   //账号
			passWorld:"",   //密码
			phone:"",  //手机号
			yzm:"",    //验证码
			yzmDisabled:true,   //验证码按钮样式
			timer:false,   //DOM中显示倒计时的数字
			minute:5,   //倒计时时间
			roundNum:""   //发送的验证码
		},
		computed:{
			// 动态切换登录按钮样式
			btnCol(){
				if(this.account.trim().length>0&&this.passWorld.trim().length>0&&this.phone.trim().length>0&&this.yzm.trim().length>0){
					return false
				}else{
					return true
				}
			},
		},
		watch:{
			// 监听输入的手机号数据,如果不为空 验证码按钮就不禁用
			"phone":function(newNum,oldNum){
				if(newNum!==""){
					this.yzmDisabled=false
				}else{
					this.yzmDisabled=true
				}
			}
		},
		mounted() {
			mui.init();
		},
		methods:{
			// 模拟发送验证码
			// 点击时出现倒计时，5秒回倒计时消失。
			// 倒计时出现的时候验证码按钮禁止点击,倒计时消失后可以再次点击
			sendyzm(){
				this.roundNum=Math.floor(Math.random()*10*99999);   //验证码
				// DOM中显示倒计时的数字
				this.timer=true
				this.minute=6;    //倒计时
				// 每一秒-1
				let timer=setInterval(()=>{
					this.minute-=1;  
					this.yzmDisabled=true;   //禁用发送验证码按钮
					if(this.minute<0){
						this.timer=false    // 隐藏倒计时数字
						this.yzmDisabled=false;  //取消禁用发送验证码按钮
						clearInterval(timer)
					}
				},1000)
				alert(this.roundNum);
			},
			
			// 提交注册
			toRegist(){
				let that=this;
				// 验证输入内容
				if(that.yzm==that.roundNum&&that.account.trim().length>0&&that.passWorld.trim().length>0&&that.phone.trim().length>0){
					mui(that.$refs.regist).button('loading');//切换为loading状态
					setTimeout(()=>{
						mui.post("http://192.168.88.69:3200/regist",{
							account:that.account,
							passWorld:that.passWorld,
							phone:that.phone
						},function(data){
							// 根据后端返回的字段，提示不同的内容
							switch(data.statu){
								case "success":
									mui.toast('注册成功',{ duration:'short', type:'div' });
								break;
								case "isHave":
									mui.toast('该账户已被注册',{ duration:'short', type:'div' });
								break;
								case "error":
									mui.toast('注册失败,稍后再试',{ duration:'short', type:'div' });
								break;
							}
							mui(that.$refs.regist).button('reset');//关闭loading状态
						},'json')
					},2000)
				}else{
					
					mui.toast('输入内容有错误',{ duration:'short', type:'div' }) 
				}
			}
		}
	})
	
</script>
</html>
