<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>分类</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	
	<link href="../../css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="../../css/public.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/classify/classify.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav myheader">
		<div class="mui-input-row mui-search">
			<input type="search" class="mui-input-clear" placeholder="搜索你想要的">
		</div>
	</header>
	<div class="mui-content mui-row mui-fullscreen">
		<!-- 左边商品列表 -->
		<div class="mui-col-xs-3">
			<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
				<!-- <a class="mui-control-item" href="#content${index+1}">${val}</a> -->
				<!-- @click="showCategry(leftTitle[index]._id)" -->
				<a class="mui-control-item" :class="{'mui-active':index==0}" v-for="(item,index) in leftTitle" :href="index" @click="clickLeft(leftTitle[index]._id)">{{item.title}}</a>
			</div>
		</div>
		<!-- 右边分类内容 -->
		<div id="segmentedControlContents" class="mui-col-xs-9" >
			<!-- 每个商品对应的分类的显示内容 -->
			<div class="mui-control-content mui-active">
				<dl>
					<dt v-for="(val,i) in categry" v-if="typeId == val.productId">
						<div><img :src="val.imgSrc"></div>
						<div>
							{{val.title}}
						</div>
					</dt>
					<dt v-if="testArr.length<=0">
						暂无商品
					</dt>
				</dl>
			</div>
			
		</div>
		
	</div><!-- mui-content-->
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	const vue=new Vue({
		el:".mui-content",
		data:{
			api:"http://192.168.88.69:3200",
			leftTitle:[],
			categry:[],
			showId:null,
			typeId:'',
			testArr:[]
		},
		created() {
			this.showProduct();
			this.showCategry()
		},
		mounted() {
			mui.init({
				keyEventBind: {
				       backbutton: false,  //Boolean(默认true)关闭back按键监听  
				       menubutton: false   //Boolean(默认true)关闭menu按键监听  
				   }  
			});
		},
		methods:{
				
			control_none(id){
				let that=this;
				that.testArr=[];
				that.categry.forEach(val=>{
					if(val.productId==id){
						that.testArr.push(val)
					}
				})
				// console.log(that.testArr)
			},
			
			// 页面刚加载时请求后台,得到左边的全部商品
			showProduct(){
				let that=this;
				that.ajax({},that.api+'/showProduct','get',function(data){
					// 后端返回1表示获取到了分类标题
					if(data.code=="1"){
						that.leftTitle.push(...data.data);
						that.typeId = data.data[0]._id;   //记录下第一个商品的_id
						// that.control_none(that.typeId)
					};
				});
			},
			
			// 页面刚加载时请求后台得到所有的分类
			showCategry(){
				let that=this;
				that.ajax({},that.api+"/categry","post",function(data){
					that.categry.push(...data.data);
				})
			},
			
			// 点击左边商品时触发,
			// @params{String} id  左边的商品的_id
			clickLeft(id){
				this.typeId=id
				this.control_none(this.typeId)
			},
			
			
			// 封装ajax请求
			// @params{Object} dataObj,请求携带的参数格式如:{key:value}
			// @params{String} url, 请求的后台url
			// @params{String} type, 请求方式,如post,get
			// @params{Function} success, 请求成功的回调函数
			ajax(dataObj,url,type,success){
				mui.ajax(url,{
					data:dataObj||{},
					type:type,
					timeout:10000,
					success:success,
					error:function(xhr,type){
						mui.toast("连接服务器失败")
					}
				})
			},
			
		},
	})
	
	
</script>
</html>
