<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>立即购买</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/public.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/buy/buy.css"/>
	<link rel="stylesheet" type="text/css" href="../../fonts/font.css"/>
	
</head>

<body>
<div class="box">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">立即购买</h1>
	</header>
	<div class="mui-content">
		
		<ul class="mui-table-view">
			<li class="mui-table-view-cell" v-for="(item,index) in address" @click="chooseAddres" v-if="address.length>0">
				<a class="mui-navigate-right my_navigate_right">
					<span class="iconfont icon-tianjiadizhi"></span>
					<div class="address">
						<p>
							<span style="font-weight: 600;">
								{{item.recipients}}
							</span> 
							<span>
								{{item.phone}}
							</span>  
						</p>
						<p>
							{{item.province}} {{item.city}} {{item.district}} {{item.detailAddress}}
						</p>
						
					</div>
				</a>
			</li>
			
			<li class="mui-table-view-cell" @click="chooseAddres" v-if="address.length<=0">
				<a class="mui-navigate-right my_navigate_right">
					选择地址
				</a>
			</li>
		</ul>
			<!--商品展示区域-->
		<div class="collect" v-for="(val,index) in prdInfor">  
			<dl class="mui-table-view my_table_view" v-for="(value,i) in val">
				<dt class="mui-table-view-cell collect_body" >
					<!-- 商品图片 -->
					<div class="collect_body_img clear">
						<img class="mui-media-object mui-pull-left" :src="value.img">
					</div>
					<!-- 商品描述 -->
					<div class="mui-media-body collect_body_infor">
						<p class="collect_body_infor_title">
							{{value.title}}
							<!-- 商品描述商品描述商品描述商品描述商品描述 -->
						</p>
						<p class="collect_body_infor_type" >
							已选:
							<span v-for="i in value.attr">
								{{i}};
							</span>
						</p>
						<!-- <p class="collect_body_infor_type">
							尺码:
						</p> -->
						<div class="collect_body_infor_price">
							<div>
								<span style="font-size: 12px;">￥</span>
								<span>
									{{value.price|price}}
								</span>
								<!-- <span>{{val.prd_price|price}}</span> -->
							</div>
								
							<div>
								x{{value.buyNumber}}
							</div>
						</div>
					</div>
				</dt>
				
				<!-- 备注 -->
				<dt class="mui-table-view-cell collect_body remark">
					<div class="remark_left">
						备注
					</div>
					<div class="remark_right">
						<input type="text" class="mui-input-clear" :value="value.remark" v-model="value.remark" placeholder="输入备注">
					</div>
				</dt>
				
				<dt class="mui-table-view-cell collect_body buy_number">
					<!-- <span>
						小计
					</span> -->
					<div class="my_numbox">
						<p>
							小计：<span style="color: #FF0000;">{{value.totle|price}}</span>
						</p>
						
					</div>
				</dt>
				
			</dl>
		</div><!--商品展示结束-->
		
	</div>
	<footer class="mui-bar mui-bar-tab my-mui-bar">
		<div class="tab">
			<div>
				实付款:<span style="color:#FF0000;">￥{{this.totle|price}}</span>
			</div>
			<button type="button" class="mui-btn mui-btn-red" @click="pay">
				立即支付
			</button>
		</div>
	</footer>
</div>
</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

	const vue=new Vue({
		el:".box",
		data:{
			userId:"",
			prd_id:"",
			api:"http://192.168.88.69:3200",
			address:[],   //地址
			prdInfor:[],    //存放产品信息
			remark:"",
			attr:[],    //商品属性
			buyNumber:1,   //购买数量
			payStyle:"",  //付款方式
			
		},
		filters:{
			price:function(num){
				num=Number(num).toFixed(2);
				return num+"元";
			},
		},
		mounted() {
			mui.init();
			this.choiceAddress()
		},
		created() {
			this.getId();
			
		},
		methods:{
			//  接收地址页面的点击的那个地址
			choiceAddress(){
				let that=this;
				// 自定义事件
				window.addEventListener("choiceAddress",function(e){
					if(e.detail.address){
						that.address=[];
						that.address.push(e.detail.address);
					}
				})
			},
			
			// 页面刚加载的时候获取到详情页传递过来的用户id和商品id，
			// 根据 用户id得到默认的地址
			// 根据 商品id得到要购买的商品
			getId(){
				let that=this;
				mui.plusReady(function () {
				    let self=plus.webview.currentWebview();
					that.userId=self.userId;
					that.prdInfor.push(self.prd);   //[ [],[] ]
					that.getAddress(that.userId);   //通过id得到地址
					
				})
			},
				
			//通过用户id获得默认的地址
			getAddress(userId){
				let that=this;
				mui.ajax(that.api+'/selectAddress',{
					data:{
						// userId:"5eb7b553ee1d1a3988b5309a",
						userId
					},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						if(data.code=="1"){
							that.address.push(...data.data);    //获取所有的地址
							
							that.address=that.address.filter(val=>{     //得到默认地址
								return val.isDefault==true;
							});                     
						
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast("服务器错误"+errorThrown)
					}
				});
			},
					
			// 点击地址跳转到地址页面选择地址
			chooseAddres(){
				mui.plusReady(function () {
					// var page = mui.preload({
					// 	url:'../aboutMe/address/my_address.html',
					// 	id:'my_address.html',
					//     extras:{
					//     	fromBuy:true
					//     },
						
					// });
					plus.nativeUI.showWaiting()
					setTimeout(function(){
						mui.openWindow({
							url:'../aboutMe/address/my_address.html',
							id:'my_address.html',
							extras:{
								fromBuy:true
							},
						})
						plus.nativeUI.closeWaiting()
					},500)
					
				})
								
			},
			
			// 点击立即购买,2 秒后显示支付方式
			pay(){
				let that=this;
				
				if(that.address.length<=0){
					
					mui.toast("请先选择收货地址")
				}else{
					setTimeout(function(){
						that.getPayChannels()  //获取支付通道
					},2000);
					
					plus.nativeUI.showWaiting("正在获取支付方式");
				}
				
			},
			
			// 获取支付的通道
			getPayChannels(){
				let that=this;
				let payChannels=null;   // 存放可以支付的方式
				mui.plusReady(function () {
					// 获取本地支付的信息,
				    plus.payment.getChannels(function(channels){   //获取支付方式成功的回调,参数是个数组， 包含可选择的支付的方式,如支付宝，微信等
						payChannels=channels;
						plus.nativeUI.closeWaiting();
						
						let btnArray=[];
						payChannels.forEach(val=>{
							btnArray.push({title:val.description})
						})
						
						let actinsStyle={
							title:"请选择支付方式",
							cancel:"取消",
							buttons:btnArray  //[{title:支付宝,title:微信}]
						}
						plus.nativeUI.actionSheet(actinsStyle,function(e){
							let index=e.index;
							switch(index){
								case 0:
									mui.toast("取消支付");
								break;
								case 1:
									// mui.toast("支付宝支付");
									// that.payRequest(payChannels[0]);
									that.buySuccess("支付宝");
								break;
								case 2:
									// that.payRequest(payChannels[1])
									// mui.toast("微信支付");
									that.buySuccess("微信");
								break;
							}
							
						})
					},function(err){
						
						mui.toast("获取支付方式失败"+err.message);
					})
					
				});
				
			},
			
			// 模拟 支付成功后 调用，
			// 给后台发送下单时间、收件人地址信息、购买的数量、总价、用户id、商品id、支付方式等字段
			buySuccess(payStyle){
			
				let that=this;
				that.payStyle=payStyle;   //付款方式
				
				 //购买日期
				let date=new Date();
				var year=date.getFullYear();
					// 月，日 , 时，分，秒小于10时前面+0补齐
				var month=date.getMonth()<10?'0'+(Number(date.getMonth())+1):(Number(date.getMonth())+1);  //月(0-11)
				// var day=date.getDate()<10?'0'+date.getDate:date.getDate(); 
				var day=date.getDate()<10?'0'+date.getDate():date.getDate();    //日(0-23)
				var hours=date.getHours()<10?'0'+date.getHours():date.getHours();  
				var minutes=date.getMinutes()<10?'0'+date.getMinutes():date.getMinutes();
				var seconds=date.getSeconds()<10?'0'+date.getSeconds():date.getSeconds();
				that.prdInfor.forEach(val=>{
					val.forEach(key=>{
						let dateStr=year + "-" +month + "-" + day +" "+ hours + ":" + minutes + ":"+ seconds;   //下单日期--年月日 时分秒
						let orderNumber=year+month+day+hours+minutes+Math.ceil(Math.random()*1000000);   //订单号--下单日期+随机数
						key.dateStr=dateStr;   
						key.orderNumber=orderNumber;
						key.totle=key.buyNumber*key.price;    //购买的 商品的总价
						key.address=that.address;   //地址
					})
				})
			
	            mui.ajax(that.api+'/buySingle',{
					data:{
						user_id:that.userId,   //用户id
						prdInfor:JSON.stringify(that.prdInfor)   //购买的产品的信息  [ ["商品1"],["商品2"],["商品3"], ]
					},
					dataType:'json',
					type:'post',
					timeout:10000,
					success:function(data){
						
						// 后端返回1表示购买成功,刷新'我的' 页面
						if(data.code=="1"){
							mui.toast("购买成功,购买方式是"+that.payStyle);
							// 刷新'我的' 页面，重新显示未发货的数量
							var aboutMe = plus.webview.getWebviewById('aboutMe');
							mui.fire(aboutMe,"clearStorage",{
								statu:true
							});
						}else{
							mui.toast("购买失败");
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast("网络连接失败"+type);
					}
				});
				
			},
		},
		computed:{
			// 计算总价
			totle:function(){
				if(this.prdInfor.length>0){
					let sum=0;
					this.prdInfor.forEach((val,i)=>{
						val.forEach((v,j)=>{
							sum+=v.totle;
						})
					})
					return sum;
				}else{
					return 0
				}
				
			}
		},
		
	})
</script>
</html>
