<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>立即购买</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/public.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/buy/buy.css"/>
	<link rel="stylesheet" type="text/css" href="../../fonts/font.css"/>
	
</head>

<body>
<div class="box">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">立即购买</h1>
	</header>
	<div class="mui-content">
		
		<ul class="mui-table-view">
			<li class="mui-table-view-cell" v-for="(item,index) in address" @click="chooseAddres">
				<a class="mui-navigate-right my_navigate_right">
					<span class="iconfont icon-tianjiadizhi"></span>
					<div v-if="address.length<=0">
						没有默认地址，点击选择
					</div>
					<div class="address" v-else>
						<p>
							<span style="font-weight: 600;">
								{{item.recipients}}
							</span> 
							<span>
								{{item.phone}}
							</span>  
						</p>
						<p>
							{{item.province}} {{item.city}} {{item.district}} {{item.detailAddress}}
						</p>
						
					</div>
				</a>
			</li>
		</ul>
			<!--商品展示区域-->
		<div class="collect">  
			<dl class="mui-table-view" >
				<dt class="mui-table-view-cell collect_body">
					<!-- 商品图片 -->
					<div class="collect_body_img clear">
						<img class="mui-media-object mui-pull-left" src="../../img/bd1.jpg">
					</div>
					<!-- 商品描述 -->
					<div class="mui-media-body collect_body_infor">
						<p class="collect_body_infor_title">
							<!-- {{val.title}} -->
							商品描述商品描述商品描述商品描述商品描述
						</p>
						<p class="collect_body_infor_type">
							颜色:
						</p>
						<p class="collect_body_infor_type">
							尺码:
						</p>
						<div class="collect_body_infor_price">
							<div style="color: #d01c27;">
								<span style="font-size: 12px;">￥</span>
								<span>
									<!-- 140.00 -->
									{{testPrice}}
								</span>
								<!-- <span>{{val.prd_price|price}}</span> -->
							</div>
								
							<div style="border: 1px solid green; padding: 0px 4px;">
								免运费
							</div>
						</div>
					</div>
				</dt>
				
				<dt class="mui-table-view-cell collect_body buy_number">
					<span>
						购买数量
					</span>
					<div class="my_numbox">
						<button type="button" class="mui-btn mui-btn-outlined" :disabled="subtractBtn" @click="buyNumber-=1">-</button>
						<input type="number":value="buyNumber" readonly="readonly" v-model="buyNumber" @blur="blur"/>
						<button type="button" class="mui-btn mui-btn-outlined" :disabled="addBtn" @click="buyNumber+=1">+</button>
					</div>
				</dt>
			</dl>
		</div><!--商品展示结束-->
		
	</div>
	<footer class="mui-bar mui-bar-tab my-mui-bar">
		<div class="tab">
			<div>
				实付款:<span style="color:#d01c27">￥{{this.totle}} 免运费</span>
			</div>
			<button type="button" class="mui-btn mui-btn-red">
				立即支付
			</button>
		</div>
	</footer>
</div>
</body>
<script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	
	
	
	
	
	const vue=new Vue({
		el:".box",
		data:{
			userId:"",
			api:"http://192.168.88.69:3200",
			address:[],   //地址
			prdInfor:[],    //存放产品信息
			buyNumber:1,   //购买数量
			testPrice:50,   //测试用的价格
			
			subtractBtn:true,  //控制减少按钮是否禁用
			addBtn:false,   //控制添加按钮是否禁用
		},
		mounted() {
			mui.init();
			this.choiceAddress()
		},
		created() {
			this.getAddress()
		},
		methods:{
			//  接收地址页面的点击的那个地址
			choiceAddress(){
				let that=this;
				// 自定义事件
				window.addEventListener("choiceAddress",function(e){
					if(e.detail.address){
						that.address=[];
						that.address.push(e.detail.address);
					}else{
						console.log("没有获取到地址")
					}
				})
			},
			
			// 页面刚加载的时候通过用户id获得默认的地址
			getAddress:function(){
				let that=this;
				mui.ajax(that.api+'/selectAddress',{
					data:{
						userId:"5eb7b553ee1d1a3988b5309a",
					},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(data){
						if(data.code=="1"){
							that.address.push(...data.data);    //获取所有的地址
							that.address=that.address.filter(val=>{     //得到默认地址
								return val.isDefault==true;
							})
							// console.log(that.address)
						}
					},
					error:function(xhr,type,errorThrown){
						mui.toast("服务器错误"+errorThrown)
					}
				});
			},
			
			// 点击地址跳转到地址页面选择地址
			chooseAddres(){
				mui.plusReady(function () {
					var page = mui.preload({
						url:'../aboutMe/address/my_address.html',
						id:'my_address.html',
					    
					    extras:{
					    	fromBuy:true
					    },
					});
					page.show()
					// mui.openWindow({
					// 	url:'../aboutMe/address/my_address.html',
					// 	id:'my_address.html',
					// 	extras:{
					// 		fromBuy:true
					// 	},
					// });
				})
				
				
			}
		},
		computed:{
			// 计算总价
			totle:function(){
				return this.buyNumber*this.testPrice
			}
		},
		watch:{
			"buyNumber":function(newVal,oldVal){
				if(newVal<=1){
					this.buyNumber=1;
					this.subtractBtn=true
					
				}else if(newVal>=10){
					this.addBtn=true;
					this.subtractBtn=false
				}else{
					this.addBtn=false;
					this.subtractBtn=false
				}
			}
		}
	})
</script>
</html>
