/* 头像区域 */
.my_infor>ul{
	background-color:rgba(208,28,39,0.5);
	background-image: linear-gradient(to right, #e66465, #d01c27);
}
.my_infor .mytx{
	display: flex !important;
	align-items: center;
	
}
.my_infor .mui-table-view-cell{
	padding: 20px 65px 20px 16px;
}
.my_infor .mui-media-object.mui-pull-left{
	margin-right: 0;
}
.my_infor .mui-table-view .mui-media-object{
	max-width: 50px;
	height: 50px;
}
.my_infor .mytx p{
	color: #fff;
	font-size: 18px;
	margin-left: 15px;
}

/* 卡片样式 */
.myCard{
	border-radius: 0px;
	margin: 10px 0 10px;
}

.my-card-header div:first-child{
	font-size: 16px;
}
.my-card-header div:last-child a{
	color: #b1b1b1;
	font-size: 12px;
}
.myCardContent{
	padding: 15px 0;
}
.myCardContent ul{
	display: flex;
	justify-content: space-around;
}
.myCardContent ul>a{
	display: block;
	width: 20%;
}
.myCardContent ul li{
	text-align: center;
}
.myCardContent ul li div:last-child{
	font-size: 14px;
	color: #b1b1b1;
}
.myCard .iconfont{
	margin-bottom: 5px;
	font-size: 20px;
}
.mysc .iconfont{
	color: #d01c27;
}

/* 推荐样式 */
.recommend{
	background-color: #fff;
}
.recommend>p{

	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	color: #d01c27;
	
}
.recommend>p span{
	padding: 0 5px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	height: auto;
	text-overflow: inherit;
	overflow: auto;
	white-space: normal;
	text-align: left;
	padding: 0 5px;
	color: #000000;
	margin-top: 0;
}
.my-table-view .mui-media-body p{
	margin: 5px 0;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	 display: -webkit-box;
}

.price{
	display: flex;
	justify-content: space-between;
}
.price li span:first-child{
	font-size: 10px;
}
.price li:first-child{
	color: red;
	
}
.price li:last-child{
	color: #bbb;
}